<div>
 <div class="header-cnt">
  <div class="container">
<h2>ABOUT US</h2>
 </div>
 </div>
<!-- <div class="brd-crm">
 <div class="container">
  <h5><a href="#home">HOME</a> / <a href="#company">COMPANY</a> / About Us</h5>
 </div>
 </div>-->
</div>

 
<div id="banner-sec">   
<img src="images/about-us.jpg"/>
<div class="container">
<div class="img-cnt col-lg-5 col-md-6 col-sm-6 col-xs-6 wow fadeInDown animated">
<h1>Dew Software</h1>  
<p>Your IT Solutions and Services Partner</p>
</div>
</div>    
</div>

<div id="cta" class="wow fadeIn">
<div class="container">  
<div class="row">
<div class="col-sm-12 wow fadeInDown animated">
<h2>Dew Software helps B2B and B2C industry leaders optimize technology and facilitate business growth 
through our comprehensive IT solutions.</h2>

</div>

</div>  
</div>
</div> 
<div id="features">
<div class="container">
<div class="cnt-section  page">
<h2 class="wow fadeInDown animated">The Dew Software Mission</h2>

<p class="wow fadeInDown animated">
As your premier IT Solutions and Services partner, our mission is to deliver the most cutting-edge and 
robust business solutions that leverage the latest industry trends. From software and web application 
development to leveraging IoT capabilities, wearable technology, and mobility services, our team 
works to ensure your technological infrastructure functions with your unique goals in mind.</p>
<p class="wow fadeInDown animated">No matter where your organization is located, you’ll have 24/7 access to hundreds of technology 
experts in Silicon Valley and across the globe.</p>

<h2 class="wow fadeInDown animated">Our Services and Experience</h2>

<p class="wow fadeInDown animated">With state-of-the-art infrastructure, technology expertise, and flexibility of an entrepreneurial 
company, Dew Software delivers value through managing services projects beyond the customer’s 
expectations.</p>
<p class="wow fadeInDown animated">The list of our solutions include:</p>
<p><ul class="wow fadeInDown animated">
<li>Mobile & Web 2.0 technologies</li>

<li>UI/UX Engineering</li>

<li>Quality Assurance</li>

<li>Big Data Analytics</li>

<li>DevOps</li>
<li>Application Development</li>
<li>Consulting Services</li>

</ul></p>

<p  class="wow fadeInDown animated"><a href="#our-services"><span>Click here for more comprehensive information about our services.</span></a></p>


<h2 class="wow fadeInDown animated">The Dew Software Advantage</h2>

<p class="wow fadeInDown animated">Dew Software offers multiple technological solutions under one roof—from hardware maintenance 
and enhanced mobility to cloud-based solutions and improved user experience.</p>

<p class="wow fadeInDown animated">Our ability to deliver quality services time and again has enabled us to serve some of the most 
prestigious organizations across technology, financials, logistics, educational, and other industries.</p>

<p class="wow fadeInDown animated">We work with B2B, B2C, nonprofits, startups and Fortune 500 companies. No matter your business 
model, our mobility and web solutions help your organization run smoothly through cost-effective 
business models.
</p>





<h2 class="wow fadeInDown animated">Dew Mobility </h2>

<p  class="wow fadeInDown animated">As part of our initiative to make organizations more agile, we are proud to introduce you to Dew Mobility.  </p>

<p  class="wow fadeInDown animated">Dew Mobility offers expert services in software design, development, integration, and QA services for Android, iPhone, BlackBerry, Windows phone, Nokia Series 40, and Samsung Bada platforms.</p>
<p  class="wow fadeInDown animated">Led by a team of leaders from various Fortune 100 companies, Dew Mobility is poised to meet the demands of a rapidly growing industry. </p>
<p  class="wow fadeInDown animated">With enhanced mobility, IoT capabilities, and wearables, your business will improve its operations with cutting-edge tools and resources.</p>

<p  class="wow fadeInDown animated"><a href="http://www.dewmobility.com/">Click here for more information on Dew Mobility.</a></p>

</div> 

</div>

</div>
<!--<div id="cta">
<div class="container">  
<div class="row">
<div class="center col-sm-12 wow fadeInDown animated">
<h2>How can technology transform your business?</h2>
<p class="leads wow fadeInDown animated">Generate superior performance and greater value and gain a competitive advantage.</p>
<a href="#contact"><button class="btn btn-primary contact">Contact Us</button></a>

</div>

</div>  
</div>
</div>-->






