<div>
	<div class="header-cnt">
		<div class="container">
			<h2>ABOUT US</h2>
		</div>
	</div>
	<!-- <div class="brd-crm">
			<div class="container">
					<h5><a href="#home">HOME</a> / <a href="#company">COMPANY</a> / About Us</h5>
			</div>
	</div>-->
</div>
<div id="banner-sec">
	<img src="images/about-us.jpg"/>
	<div class="container">
		<div class="img-cnt col-lg-5 col-md-6 col-sm-6 col-xs-6 wow fadeInDown animated">
			<h1>WorldScape Inc.</h1>
			<p>Your IT Solutions and Services Partner</p>
		</div>
	</div>
</div>
<div id="cta" class="wow fadeIn">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 wow fadeInDown animated">
				<h2>WorldScape Inc. helps B2B and B2C industry leaders optimize technology and facilitate business growth
				through our comprehensive IT solutions.</h2>
			</div>
		</div>
	</div>
</div>
<div id="features">
	<div class="container">
		<div class="cnt-section  page">
			<h2 class="wow fadeInDown animated">Who are we</h2>
			<p class="wow fadeInDown animated">
				WorldScape Inc is a San Francisco Bay Area firm was established in 1997. Its primary mission is to provide high quality 
				information technology consulting services to San Francisco Bay Area companies. Our vision is to be a partner 
				contributing to the success and profitability of those companies.
			<p>
			<h2 class="wow fadeInDown animated">The WorldScape Inc. Mission</h2>
			<p class="wow fadeInDown animated">
				As your premier IT Solutions and Services partner, our mission is to deliver the most cutting-edge and
				robust business solutions that leverage the latest industry trends. From software and web application
				development to leveraging IoT capabilities, wearable technology, and mobility services, our team
			works to ensure your technological infrastructure functions with your unique goals in mind.</p>
			<p class="wow fadeInDown animated">No matter where your organization is located, you’ll have 24/7 access to hundreds of technology
			experts in Silicon Valley and across the globe.</p>
			<h2 class="wow fadeInDown animated">Our Services and Experience</h2>
			<p class="wow fadeInDown animated">With state-of-the-art infrastructure, technology expertise, and flexibility of an entrepreneurial
				company, WorldScape Inc. delivers value through managing services projects beyond the customer’s
			expectations.</p>
			<p class="wow fadeInDown animated">The list of our solutions include:</p>
			<p><ul class="wow fadeInDown animated">
				<li>Mobile & Web 2.0 technologies</li>
				<li>UI/UX Engineering</li>
				<li>Quality Assurance</li>
				<li>Big Data Analytics</li>
				<li>DevOps</li>
				<li>Application Development</li>
				<li>Consulting Services</li>
			</ul></p>
			<p  class="wow fadeInDown animated"><a href="#our-services"><span>Click here for more comprehensive information about our services.</span></a></p>
			<h2 class="wow fadeInDown animated">The WorldScape Inc. Advantage</h2>
			<p class="wow fadeInDown animated">WorldScape Inc. offers multiple technological solutions under one roof—from hardware maintenance
			and enhanced mobility to cloud-based solutions and improved user experience.</p>
			<p class="wow fadeInDown animated">Our ability to deliver quality services time and again has enabled us to serve some of the most
			prestigious organizations across technology, financials, logistics, educational, and other industries.</p>
			<p class="wow fadeInDown animated">We work with B2B, B2C, nonprofits, startups and Fortune 500 companies. No matter your business
				model, our mobility and web solutions help your organization run smoothly through cost-effective
				business models.
			</p>
			<h2 class="wow fadeInDown animated">Stratergies </h2>
			<p  class="wow fadeInDown animated">
				Our Strategies are simple:
			</p>
			<p><ul class="wow fadeInDown animated">
				<li>Focus on customer business needs</li>
				<li>Employ high quality, experienced consultants</li>
				<li>Manage the performance of the consultants</li>
			</ul></p>
			<h2 class="wow fadeInDown animated">Focus </h2>
			<p  class="wow fadeInDown animated">
				Our focus is on providing consultants to our customers. To accomplish this we employ full timed salaried professionals. WorldScape employees receive a full set of benefits (paid overtime, paid holidays/sick time/vacation, disability insurance, tuition reimbursement, medical and dental insurance. We know our consultants because they are long term employees. We can make accurate assessments of requirements and get the right person for the job with a minimum of effort for the hiring manager.
				 
				With a team of full time consultants, WorldScape is able to provide a high quality of service that we monitor closely. Our customers participate in this evaluation, providing us with feedback on our consultant's effectiveness.
			</p>
		</div>
	</div>
</div>
<!--<div id="cta">
		<div class="container">
				<div class="row">
						<div class="center col-sm-12 wow fadeInDown animated">
								<h2>How can technology transform your business?</h2>
								<p class="leads wow fadeInDown animated">Generate superior performance and greater value and gain a competitive advantage.</p>
								<a href="#contact"><button class="btn btn-primary contact">Contact Us</button></a>
						</div>
				</div>
		</div>
</div>-->