<div>
  <div class="header-cnt">
    <div class="container">
      <h2> COMPANY</h2>
    </div>
  </div>
  <!-- <div class="brd-crm">
    <div class="container">
      <h5><a href="#home">HOME</a> / Company</h5>
    </div>
  </div>-->
</div>

<div id="banner-sec">
  <img src="images/company.jpg">
  <div class="container  wow fadeInDown animated">
    <div class="img-cnt  col-lg-5 col-md-6 col-sm-6 col-xs-6">
      <h1>Company</h1>
      <p>Company is a global management consulting firm. We are the trusted advisor to the world's leading businesses, governments, and institutions.</p>
    </div>
  </div>
</div>
<div id="cta" class="wow fadeIn">
  <div class="container wow fadeInDown animated">
    <div class="row">
      <div class="col-sm-12">
        <h2>It is an agreement between two or more parties to pursue a set of<br>agreed upon objectives needed while remaining <br> independent organizations.</h2>
      </div>
    </div>
  </div>
</div>

<div id="features">
  <div class="container">
    
    <div class="row company-cont">
      <div class="col-sm-12  wow fadeInDown animated">
        <h4>ABOUT WorldScape Inc.</h4>
        <p class="lead">WorldScape Inc is a San Francisco Bay Area firm was established in 1997. Its primary mission is to provide high quality information technology consulting services to San Francisco Bay Area companies. Our vision is to be a partner contributing to the success and profitability of those companies.</p>
        <p class="lead">Our focus on nurturing relationships ensures that clients and consultants think of us as their growth partners.</p>
        <!--            <p class="lead">We strive to find the right people for our clients, so that they
        can grow their product, service and business. And we strive to help job seekers grow in their chosen field. And that is why our clients and consultants recommend, refer and introduce us to new clients and job seekers.</p>-->
<!--         <p class="lead">Dew Mobility, a subsidiary of WorldScape Inc. Inc was established in 1997, head quartered in its own premises in Fremont, CA. Dew has its Center of Excellence (CoE) located in Vadodara, Gujarat .</p>
        <p class="lead">Dew Mobility Solutions helps start ups, medium and large corporations in adopting mobility solutions with cost effective business models.</p>
      </div>
      <div class="col-sm-12  wow fadeInDown animated">
        <h4>DEW MOBILITY</h4>
        <p class="lead">Dew Mobility is one of the top world class leader in software design, development, Integration (for client/server model) and QA services for Android, iPhone, BlackBerry, Windows phone, Nokia Series 40 and Samsung bada platforms.</p>
        <p class="lead">Le'd by a team of leaders from various Fortune 100 companies, Dew is poised to meet the demands of a rapidly growing industry. Our experienced development team designs and
        creates applications for all major platforms</p>
        <p class="lead">Dew Mobility -enhanced mobility,IoT capabilities, and wearables, your business will improve its operations with cutting-edge tools and resources.<a href="http://www.dewmobility.com/"  target="_blank"> Click here for more information.</a></p> -->
      </div>
      
      
    </div>
    
    
    
    
    
    
    <!--/.row-->
    <!--     <div class="row company-cont">
      
      <div class="col-sm-6  wow fadeInDown animated">
        <h4>RESULTS</h4>
        <p class="lead">Thank you WorldScape Inc. for providing me a better platform to work on. It has enough challenges to make my work interesting.</p>
        <p class="lead">I would recommend Dew, without a second thought, to anyone who is in search of an opportunity to enhance their talents.</p>
      </div>
      
      
      </div>--><!--/.row-->
      
      </div><!--/.container-->
      </div><!--/#contact-page-->
      <div id="company-cnt" class="bg-grey">
        <div class="container wow fadeInDown animated">
          <div class="center">
            <h2>How can technology transform your business?</h2>
            <p class="lead">Our Technology can help the organization recognize improved competitive advantage <br>
            with in the industry it resides and generate superior performance at a greater value.</p>
            <a href="#contact"><button class="btn btn-primary contact">Contact Us</button></a>
          </div>
        </div>
        <!--/.container-->
      </div>
      <!--/#feature-->