<div>
  <div class="header-cnt">
    <div class="container">
      <h2>CUSTOMERS</h2>
    </div>
  </div>
 <!-- <div class="brd-crm">
    <div class="container">
      <h5><a href="#home">HOME</a> / Customers</h5>
    </div>
  </div>-->
</div>
<div id="banner-sec"> 
<img src="images/customer-banner.jpg"/>
  <div class="container wow fadeInDown animated">
    <div class="img-cnt col-lg-5 col-md-6 col-sm-6 col-xs-6">
      <h1>Customers</h1>
      <p>A customer is the recipient of a Good or a service, 
        or a product, or an idea, obtained from a seller, vendor,
        or supplier via a financial transaction or exchange for 
        money or some other valuable consideration </p>
    </div>
  </div>
</div>
<div id="cta"> 
  <div class="container wow fadeInDown animated">
    <div class="row">
      <div class="col-sm-12">
        <h2>The advantage of the consumer businesses is they tend to be much
          broader-based, much larger number of customers.</h2>
      </div>
    </div>
  </div>
</div>

<div id="features">
  <div class="container">
    <div class="cnt-section">
<!-- <div class="row customers-cnt ">
        <div class="col-sm-3 wow fadeInDown animated"> <img src="images/clickability-1.png"/> </div>
        <div class="col-sm-9 wow fadeInDown animated">
          <h2>Matthew Barnett</h2>
          <p>Clickability is the leading SaaS Web Content Management platform (WCM) that
            empowers marketers to build and manage their websites and web-related content 
            more effectively. Clickability enables enterprise marketers and online publishers to
            create, manage and publish content globally to any device;</p>
          <a href="#">View Case Study</a> </div>
      </div>-->
      
<!--          <div class="row customers-cnt">
        <div class="col-sm-3 wow fadeInDown animated"> <img src="images/aknoou.png"/> </div>
        <div class="col-sm-9 wow fadeInDown animated">
         
          <p>At Akoonu, we know just how powerful high quality content can be. High quality content can 
            connect on a deeper emotional level and inspire a new way of thinking. It can generate leads,
            ngage prospects, and help close a deal. Even more, it can develop relationships, establish
            trust, and build brand credibility. Yes, it can do all that! And in today’s B2B world.</p>
                <p style="margin:0px;"><strong>Deepesh Chourey</strong></p>
           <strong>Co-Founder</strong>
          </div>  
      </div>-->
       <div class="row customers-cnt">
        <div class="col-sm-3 wow fadeInDown animated"> <img src="images/aknoou.png"/> </div>
        <div class="col-sm-9 wow fadeInDown animated">
         
          <p>It has been a great experience working with Dew Offshore engineers. We engaged with them early on, and now have a solid team supporting us. Both Dew management and employees are very flexible to work with, and the team is instrumental in the ongoing delivery of our SaaS software platform.</p>
                <p style="margin:0px;"><strong>Deepesh Chourey</strong></p>
           <strong>Co-Founders, Akoonu</strong>
          </div>
      </div>  
      
      
      
            <div class="row customers-cnt">
        <div class="col-sm-3 wow fadeInDown animated">  <img src="images/clickability.png"></div>
        <div class="col-sm-9 wow fadeInDown animated">
          
          <p>Dew Software has been a great partner for Clickability. The engineering resources and services they provided us have been phenomenal and have complemented the onshore team deliver great features. Dew’s engineering team has been flexible to adjust to the time differences, providing the needed overlap between the onshore and offshore teams thereby improving the overall communications between the team. Dew management has been able to provide us technically sound resources at a very short notice and has been the preferred partner for Clickability.</p>
            <p style="margin:0px;"><strong>Suryakant Naik</strong></p>
          <strong>Director of Software Development</strong>
          
          </div> 
      </div>
 
<!--      <div class="row customers-cnt">
        <div class="col-sm-3 wow fadeInDown animated"> <img src="images/apptivo-1.png"/> </div>
        <div class="col-sm-9 wow fadeInDown animated">
         
          <p>Apptivo is a web-based online office suite and enterprise resource planning software 
            consisting of apps-based business solutions. All applications are distributed as 
            Software as a Service (Saas). With 40 cloud-based business apps that are available to   
            small businesses for free, Apptivo's revenue comes from offering some paid plans.</p>
              <p style="margin:0px;"><strong>Kumar Devarakonda</strong></p>
           <strong>IT Manager</strong> 
           </div>
      </div>-->
    </div>
  </div>
  <div class="container wow fadeInDown animated" style="padding-top:70px;">
  <div class="wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="1200ms">
    <data-owl-carousel class="owl-carousel slide1" data-options="{navigation: true, pagination: false, rewindNav : false, autoPlay: true, items:3}">
      <div owl-carousel-item="" ng-repeat="case in ::cases" class="item"> <a href="#"><img class="img-responsive wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="{{case.tm}}" src="{{case.image}}"></a> </div>
    </data-owl-carousel>
  </div>
</div>
</div>

