<div>
 <div class="header-cnt">
  <div class="container">
<h2>DIGITAL MARKETING</h2>
 </div>
 </div>
<!-- <div class="brd-crm">
 <div class="container">
  <h5><a href="#home">HOME</a> / <a href="#company">COMPANY</a> / About Us</h5>
 </div>
 </div>-->
</div>

 
<div id="banner-sec">   
<img src="images/web application development.jpg"/>
<div class="container">
<div class="img-cnt col-lg-5 col-md-6 col-sm-6 col-xs-6 wow fadeInDown animated">
<h1>Digital Marketing</h1>  
<p>Digital marketing is an umbrella term for the targeted, measurable, and interactive marketing of products or services using digital technologies to reach and convert leads into customers and retain them.The key objective is to promote brands, build preference, </p>
</div>
</div>    
</div>

<div id="cta" class="wow fadeIn">
<div class="container">   
<div class="row">
<div class="col-sm-12 wow fadeInDown animated">
<h2>In simplistic terms, digital marketing is the promotion of products or brands via one or more forms of electronic media.
</h2>

</div>

</div>    
</div>
</div> 
<div id="features">
<div class="container">
<div class="cnt-section  page">
<h2 class="wow fadeInDown animated">Digital Marketing</h2>


</div> 

 
 
</div> 


</div>








