<div>
 <div class="header-cnt">
  <div class="container">
<h2>INTERNET OF THINGS</h2>
 </div>
 </div>
<!-- <div class="brd-crm">
 <div class="container">
  <h5><a href="#home">HOME</a> / <a href="#company">COMPANY</a> / About Us</h5>
 </div>
 </div>-->
</div>
 
 
<div id="banner-sec">   
<img src="images/iot.jpg"/>
<div class="container">
<div class="img-cnt col-lg-5 col-md-6 col-sm-6 col-xs-6 wow fadeInDown animated">
<h1>Internet of Things</h1>  
<p>Our system will support your IoT design with innovative, low power and easy to use solutions. Get started with these featured IoT products and get connected to the cloud.</p>
</div>
</div>    
</div>

<div id="cta" class="wow fadeIn">
<div class="container">    
<div class="row">
<div class="col-sm-12 wow fadeInDown animated">
<h2>Helps in public awareness system which avoids property damage, manage disaster risks, and improves response time</h2>

</div>

</div>  
</div>
</div> 
<div id="features">
<div class="container">
 
 <div class="cnt-section  page">
 
<h2 class="wow fadeInDown animated">About Dew Mobility </h2>
<p class="wow fadeInDown animated">Dew Mobility is our sister company—an organization dedicated to giving 
organizations more leverage with IoT design, mobile app development , QA 
testing, and technology wearables.</p>
<p class="wow fadeInDown animated">
Dew Mobility has been working with multiple hardware and software IoT 
provider in building the Internet-enabled product. <a href="http://www.dewmobility.com/">Learn more. </a></p>
 
  <div class="row company-icons"> 
             <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 service animated fadeInUp showing" data-animation="fadeInUp" data-delay="900">
             <div class="bdr">
              <h3 class="text-center"><a href="http://www.dewmobility.com/#mobile"><i class="fa fa-mobile fa-5x"></i></a></h3>
              <h3 class="text-center"><a href="http://www.dewmobility.com/#mobile">Mobile App Development</a></h3>
              <p style=" text-align:left;">We provide software design, development, and QA services for mobile applications...</p>
              <p class="text-center"><a href="http://www.dewmobility.com/#mobile" target="_blank">Read More</a></p>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 service animated fadeInUp showing" data-animation="fadeInUp" data-delay="300">
                <div class="bdr">
             <h3 class="text-center"> <a href="http://www.dewmobility.com/#mobile"><i class="fa fa-globe fa-5x"></i></a></h3>
              <h3 class="text-center"><a href="http://www.dewmobility.com/#mobile">Internet of Things(IoT)</a></h3>
              <p style=" text-align:left;">Our IoT innovation team focusing on: analysis, architecture design, programming...  </p>
         <p class="text-center"><a href="http://www.dewmobility.com/#mobile" target="_blank">Read More</a></p>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12  service animated fadeInUp showing" data-animation="fadeInUp" data-delay="300">
                <div class="bdr">
              <h3 class="text-center"><a href="http://www.dewmobility.com/#mobile"><i class="fa fa-tachometer fa-5x"></i></a></h3>
              <h3 class="text-center"><a href="http://www.dewmobility.com/#mobile">Wearables</a></h3>
              <p style=" text-align:left;">Dew mobility has been focusing on various Wearable technologies such as smartgalss... </p>
             <p class="text-center"> <a href="http://www.dewmobility.com/#mobile" target="_blank">Read More</a></p>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12  service animated fadeInUp showing" data-animation="fadeInUp" data-delay="600">
                <div class="bdr">
             <h3 class="text-center"> <a href="http://www.dewmobility.com/#mobile"><div class="qaImg"></div></a></h3>
           <h3 class="text-center"><a href="http://www.dewmobility.com/#mobile">QA &amp; Testing</a></h3>
              <p style=" text-align:left;">Our testing and QA team helping enterprise customers to test and deploy the... </p>
              <p class="text-center"><a href="http://www.dewmobility.com/#mobile" target="_blank">Read More</a></p>
            </div>
            </div>
           </div>

</div>
<br>


<div class="cnt-section  page">
<h2 class="wow fadeInDown animated">IoT Initiatives </h2>

<p class="wow fadeInDown animated">
At Dew Software, we are dedicated to using technology to create a better world. Our IoT (Internet of Things) initiative creates safer communities, easier workflow for city employees, and leverages smart agriculture. </p>

<ul>
<li class="wow fadeInDown animated">Our IoT projects are wide-ranging. For example, our Waste Management initiative leverages technology that creates cleaner cities and optimizes workflow for employees. A Smart Garbage Monitoring System (SGMS) sends an alert when the can is full, so that workers can plan their routes and cities remain clean.</li>
<li class="wow fadeInDown animated">We are also using our IoT initiatives to create public safety. Our Advanced Flood Warning and Environmental Awareness System helps avoid property damage, manage disaster risks, and improves response time.</li>
<li class="wow fadeInDown animated">Dew Software has been working with multiple MCU and Cloud companies to 
cater to the need of IoT systems.</li>
</ul>








</div> 

 
 
</div> 


</div>








