

<div>
 <div class="header-cnt">
  <div class="container">
<h2>LEADERSHIP</h2>
 </div>
 </div>
<!-- <div class="brd-crm">
 <div class="container">
      <h5><a href="#home">HOME</a> / <a href="#company">COMPANY</a> / Leadership</h5>
 </div>
 </div>-->
</div>
 
 
<div id="banner-sec">  
<img src="images/leadership.jpg"/>
<div class="container">  
<div class="img-cnt col-lg-5 col-md-6 col-sm-6 col-xs-6 wow fadeInDown animated">
<h1>Leadership</h1>  
<p>Leadership is both a  research area and a practical skill,regarding the ability of an individual or organization to lead or guide other individuals,teams,or  entire organizations, </p>
</div>
</div>    
</div> 

<div id="cta">
<div class="container  wow fadeInDown animated">  
<div class="row">
<div class="col-sm-12">
<h2>Management by objectives works if you first think through your objectives.
Ninety percent of the time you haven’t. </h2>

</div>

</div>
</div>
</div> 
<div id="features">
<div class="container">
<div class="cnt-section">

<div class="row customers-cnt profile"> 
<div class="col-sm-4 profile  wow fadeInLeft animated">
<center><img src="images/lead.png"/></center>
<h3>Suresh Deopura</h3>

<p>President and CEO
</p>
</div>  
<div class="col-sm-8  wow fadeInRight animated">
<p>Suresh Deopura founded Dew Software, Inc in 1997. Acknowledged as a visionary by the IT consulting industry and his peers. Under his dynamic leadership, the company achieved consistent growth every year.</p>
<p>Suresh has been a key force in driving the tremendous expansion of Dew, his leadership infused enormous energy which took the company from scratch to double digit increase in revenue each year. The company has today emerged as one the best consulting practice. Suresh has established approved vendorship augmenting staff requirement for several fortune 500 companies globally.&nbsp;<span class="more-cnt"><a href="javascript:void(0)">Read More</a></span></p>
<div class="read-more-cnt">
<p>Suresh was instrumental in acquiring many mid sized companies to merge with Dew Software. This helped the company to meet the requirement of quality resources all the times.</p>
<p>Suresh as earned excellent credit by Dew’s employees rated as the best employer to be associated. Further, he has been serving and helping several charitable non-profit organizations, He strongly believes in giving back to the community and involving in Philanthropic activities.</p>
<p>Suresh is also the founder member of <strong> Global Indian Technology Professionals Association (GITPRO).</strong> The association organizes talks, seminars and events to bring together technology professionals from across the world so that they can learn from each other. Startup boot camps, mentorship for entrepreneurs and leadership development programs are some of the services the association provides.</p>
<p>Suresh led several managerial positions and set the company goals and product development roles at various corporations. Areas of specialization includes, Finance, Telecom, consumer stores, manufacturing, distribution channel throughout North America.</p>

<p>Suresh earned his Master in Computer Science and Engineering from Osmania University, Hyderabad, India.&nbsp;<span class="less-cnt"><a href="javascript:void(0)">Less</a></span></p>
</div>

</div>
</div>

<div class="row customers-cnt">
<div class="col-sm-4 profile  wow fadeInLeft animated">
<center><img src="images/lead.png"/></center>
<h3>Shivakumar Mathapathi (Shiva)</h3>

<p>COO and GM</p>
</div>
<div class="col-sm-8 wow fadeInRight animated">

<p>Shivakumar a seasoned technology and business executive with over 20 years of experience in the IT, telecom and mobility industries. As COO and General Manager Shiva manages Dew mobility solutions. He is responsible for product development, professional service delivery, operations, customer care and management of the business.</p>
<p>He began his carrier as Design Engineer at Tata Power Company (a division of $ 80 Billion Tata’s group) and rose up to top management position through ranks. Continued as Senior Design Engineer at Rolta – Intergraph, manufacturer of 64 bit RISC clipper based CAD/CAM workstations for International market. Further he was a Regional Customer Engineering Manager with HCL Infosystems (formerly HCL-HP), the largest IT and telecom service provider in the world. &nbsp;<span class="more-cnt1"><a href="javascript:void(0)">Read More</a></span></p>

<div class="read-more-cnt1">


<p>HCL was the first third party application developer, OEM distributor and system Integrator for Nokia and Ericssion in India. He has wide experience in mobile consumer and enterprise applications industry, with a strong passion for delivering innovative products under strict delivery schedule. He was instrumental in building first Qt based multimedia and social networking applications for Nokia smart phones. He was also involved in J2ME Polish mobile open source projects for Mozilla IE frame work. Prior to joining the company he was the Vice President of Mobifusion,Inc and was responsible for setting up professional services business unit, accountable for securing strategic relationships and providing complete end to end global support for media company partners, wireless operators and mobile software vendors.
</p>
<p>Shiva earned Graduate Engineering Degree in Electronics and Telecommunication from IETE, New Delhi, India and completed proficiency programme at Indian Institute of Science Bangalore, India. Shiva is a frequent speaker at CTIA WIP Jam session and advisory member for wireless Industry partnership.</span></p>

<p>He began his carrier as Design Engineer at Tata Power Company (a division of $ 80 Billion Tata’s group) and rose up to top management position through ranks. Continued as Senior Design Engineer at Rolta – Intergraph, manufacturer of 64 bit RISC clipper based CAD/CAM workstations for International market. Further he was a Regional Customer Engineering Manager with HCL Infosystems (formerly HCL-HP), the largest IT and telecom service provider in the world.</p>
<p> HCL was the first third party application developer, OEM distributor and system Integrator for Nokia and Ericssion in India. He has wide experience in mobile consumer and enterprise applications industry, with a strong passion for delivering innovative products under strict delivery schedule. He was instrumental in building first Qt based multimedia and social networking applications for Nokia smart phones. He was also involved in J2ME Polish mobile open source projects for Mozilla IE frame work. Prior to joining the company he was the Vice President of Mobifusion,Inc and was responsible for setting up professional services business unit, accountable for securing strategic relationships and providing complete end to end global support for media company partners, wireless operators and mobile software vendors.</p>

<p>Shiva earned Graduate Engineering Degree in Electronics and Telecommunication from IETE, New Delhi, India and completed proficiency programme at Indian Institute of Science Bangalore, India. Shiva is a frequent speaker at CTIA WIP Jam session and advisory member for wireless Industry partnership.&nbsp;<span class="less-cnt1"><a href="javascript:void(0)">Less</a></span></p>
</div>
</div>
</div>


<div class="row customers-cnt">
<div class="col-sm-4 profile  wow fadeInLeft animated">
<center><img src="images/damian.jpg"/></center>
<h3>Damian Dias</h3>

<p>VP of Business Development at Dew Software Group of Companies</p>
</div>
<div class="col-sm-8 wow fadeInRight animated">

<p>Damian is a results-driven leader with more than 20 years of business development experience in the 
United States and Sri Lanka.  At Dew Software, Damian manages sales & business development, alliance 
development across cloud services, managed services, CRM and IoT areas. He is responsible for key 
accounts such as Tesla Motors, VeriFone, SEPHORA, Upland, Schneider Electrical, VIAVI, Lumentum, 
BlackHawk Networks, as well as several start-ups in the Bay Area.</p>
<p>Prior to joining Dew Software,​as Business Development Manager at Encore Software Services,
was instrumental in opening and farming new strategic accounts.  Earlier in his career, Damian held 
Marketing Management roles for over 9 years at the third largest shipping and logistics company in Sri 
Lanka - Delmege Forsyth & Co. Ltd.</p>
<p>Damian has a Bachelor’s Degree in Business Administration from San Jose State University</p>
</div>
</div>


  
</div>  

</div>
</div>   



<script>
$(document).ready(function(){
	$(".read-more-cnt").hide();
	$(".less-cnt").hide();	
$(".more-cnt").click(function(){

$(".more-cnt").hide();	
		$(".less-cnt").show();	
$(".read-more-cnt").show();	
	
	
});

$(".less-cnt").click(function(){
$(".less-cnt").hide();
$(".read-more-cnt").hide();	
$(".more-cnt").show();
	
	
	
});


	$(".read-more-cnt1").hide();	
$(".more-cnt1").click(function(){
	$(".more-cnt1").hide();
	
$(".read-more-cnt1").show();	
$(".less-cnt1").show();	
	
});


$(".less-cnt1").click(function(){
$(".less-cnt1").hide();
$(".read-more-cnt1").hide();	
$(".more-cnt1").show();
	  
	
	
});

	
	
	
});

</script>




 
