

<div>
 <div class="header-cnt">
  <div class="container">
<h2>SERVICES</h2>
 </div>
 </div>
 <!--<div class="brd-crm">
 <div class="container">
      <h5><a href="#home">HOME</a> / Services</h5>
 </div>
 </div>-->
</div>

 
<div id="banner-sec">  
<img src="images/our-services.jpg"/>
<div class="container">
<div class="img-cnt hgt1 col-lg-5 col-md-6 col-sm-6 col-xs-6 wow fadeInDown animated">
<h1>Services</h1>  
<p>Services the entire Capital Group organization is aligned behind one mission, Deliver superior, long-term investment results and service.the our services to your precise needs to create the outcomes you want. Client Services. </p>
</div>
</div>    
</div>  

<div id="cta">
<div class="container">
<div class="row">
<div class="col-sm-12 wow fadeInDown animated">
<h2>The advantage of the consumer businesses is they tend to be much
 broader-based, much larger number of customers.</h2>

</div>

</div>
</div>
</div> 
<div id="features"> 
<div class="container">
<div class="cnt-section">
<h2 class="text-center service wow fadeInDown animated">WorldScape Inc.:Robust IT Services</h2>
<br>
<p class="wow fadeInDown animated">WorldScape Inc. partners with industries invested in rapid growth. Our 
comprehensive IT services provide a solid technological infrastructure that helps 
continue deployment and fosters high availability and uptime.</p>

<h2 class="text-center wow fadeInDown animated">Our Solutions at a Glance</h2>
<p class="wow fadeInDown animated">We work with industry leaders in healthcare, the financial sector, technology, and 
more. Our robust IT solutions help you streamline your operations.</p>
<div class="row"> 
<div class="col-md-6 col-sm-6 mrgbtm wow fadeInLeft animated">

       <div class="item service-cnt">
          <div class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="0ms">
            <div class="media service-box">
            
              <div class=" col-md-4"> <img src="images/web-app.png" alt="logo"> </div>
              <div class="col-md-8">
              <div class="media-body">
                <h5 class="media-heading head-color"><strong>Web Application Development (UI/UX)</strong></h5>
                
                <p class="mrgtp25">Leverage our HTML and CSS languages to create an effective user experience that
helps your audience make purchasing decisions. WorldScape Inc. ensures that your 
website runs efficiently with custom coding, APIs, widgets, CMS, and more.</p>
              </div>
              <div class="text-right mrgtp20"> <a class="read" href="#web-application">Read More</a> </div>
              
              </div> 
            </div>
          </div>
        </div>

</div>

<div class="col-md-6 col-sm-6 mrgbtm wow fadeInRight animated">
<div class="item service-cnt">
          <div class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="0ms">
            <div class="media service-box"> 
              
              <div class=" col-md-4"> <img src="images/support operation.png" alt="logo"> </div>
             
              <div class="col-md-8">
              <div class="media-body">
                <h5 class="media-heading head-color"><strong>DevOPs Support and Operations</strong></h5>
                <p class="mrgtp25">Increase your organization’s efficiency and profitability with DevOPs support. 
WorldScape Inc. manages your service lifecycle in its entirety—starting at the 
foundational design stage and branching out to production support. With 
continuous deployment and consistent availability, you will always have a 
solution at your fingertips.</p>
              </div>
              <div class=" text-right mrgtp20"> <a class="read" href="#support-operation">Read More</a> </div>
              
              </div>
            </div>
          </div>
        </div>

</div>
<div class="clearfix"></div>


<div class="col-md-6 col-sm-6 mrgbtm  wow fadeInLeft animated">
   <div class="item service-cnt">
          <div class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="0ms">
            <div class="media service-box">
              <div class="col-md-4"> <img src="images/mobility.png" alt="logo"> </div>
              
              <div class="sol-md-8">
              <div class="media-body">
                <h5 class="media-heading head-color"><strong>Mobility Services</strong></h5>
                <p class="mrgtp25">Expand your UC capabilities and enterprise desk phone features. Our mobility 
services integrate PBX for iOS, Android, and other mobile devices, and transform 
your business operations with streamlined agility.</p>
              </div>
              <div class="text-right mrgtp20"> <a class="read" href="#mobility">Read More</a> </div>
              
              </div>
            </div>
          </div>
        </div>



</div>

<div class="col-md-6 col-sm-6 mrgbtm wow fadeInRight animated">
  <div class="item service-cnt">
          <div class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="0ms">
            <div class="media service-box">
              <div class="col-md-4"> <img src="images/testing-service.png" alt="logo"> </div>
              <div class="col-md-8">
              <div class="media-body">
                <h5 class="media-heading head-color"><strong>Automation and Performance Testing Services</strong></h5>
                <p class="mrgtp25">Streamline your operations with an effective technological framework that allows 
for automation and efficiency. WorldScape Inc. works to conserve your budget with 
testing services that ensure your automation is running flawlessly.</p>
              </div>
              <div class="text-right mrgtp20"> <a class="read" href="#testing-services">Read More</a> </div>
              
              </div>
            </div>
          </div>
        </div>



</div>
<div class="clearfix"></div>

<div class="col-md-6 col-sm-6 mrgbtm  wow fadeInLeft animated">
 <div class="item service-cnt">
          <div class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="0ms">
            <div class="media service-box">
              <div class="col-md-4"> <img src="images/data-analytics.png" alt="logo"> </div>
              <div class="col-md-8">
              <div class="media-body">
                <h5 class="media-heading head-color"><strong>Big Data Analytics</strong></h5>
                <p class="mrgtp25">Smart data analysis allows your organization to make informed decisions. Our 
big data analytics reveals the business strategies that will create more impactful 
success.</p> 
              </div>
              <div class="text-right mrgtp20"> <a class="read" href="#data-analytics">Read More</a> </div>
            </div>
          </div>
          </div>
        </div>

</div>
<div class="col-md-6 col-sm-6 mrgbtm  wow fadeInRight animated">
<div class="item service-cnt">
          <div class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="0ms">
            <div class="media service-box">
              <div class="col-md-4"> <img src="images/app-software-development.png" alt="logo"> </div>
              <div class="col-md-8">
              <div class="media-body">
                <h5 class="media-heading head-color"><strong>Application and Software Development</strong></h5>
                <p class="mrgtp25">Maintain your organization’s frameworks with software development services 
that include computer programming, documenting, testing, and bug fixing that 
affords easier workflow.</p>
              </div>
              <div class="text-right mrgtp20"> <a class="read" href="#app-software-development">Read More</a> </div>
              </div>
            </div>
          </div>
        </div>
</div>


<div class="col-md-6 col-sm-6 mrgbtm  wow fadeInLeft animated">   

     <div class="item service-cnt">  
          <div class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="0ms">
            <div class="media service-box">
              <div class="col-md-4"> <img src="images/consulting.png" alt="logo"> </div>
              <div class="col-md-8">
              <div class="media-body">
                <h5 class="media-heading head-color"><strong>WorldScape Inc. Management Consulting Services</strong></h5>
                <p class=" mrgtp25">WorldScape Inc. handles your technology concerns, including web development, 
business and systems analysis, software development, and engineering. We also 
have staffing connections to build a robust team who will help solidify your 
organization’s future. </p>
              </div>
              <div class="text-right mrgtp20"> <a class="read" href="#consulting-services">Read More</a> </div>
              </div>
              
            </div>
          </div>
        </div>
</div>





</div>












  
</div>  

</div>
</div>   






 
