<div>
 <div class="header-cnt">
  <div class="container">
<h2>RESPONSIVE</h2>
 </div>
 </div>
<!-- <div class="brd-crm">
 <div class="container">
  <h5><a href="#home">HOME</a> / <a href="#company">COMPANY</a> / About Us</h5>
 </div>
 </div>-->
</div>

 
<div id="banner-sec">   
<img src="images/responsive-bg.jpg"/>
<div class="container">
<div class="img-cnt col-lg-5 col-md-6 col-sm-6 col-xs-6 wow fadeInDown animated">
<h1>Responsive</h1>  
<p> The responsive design approach enables you to optimize your business for both desktop and mobile.</p>
</div>
</div>    
</div>


<div id="cta" class="wow fadeIn">
<div class="container">   
<div class="row">
<div class="col-sm-12 wow fadeInDown animated">
<h2>Our team plans, designs, and develops stunning responsive websites that will increase conversion rates and overall traffic.
</h2>

</div>

</div>    
</div>
</div> 
<div id="features">
<div class="container">
<div class="cnt-section  page">
<h2 class="wow fadeInDown animated">Responsive</h2>


<p class="wow fadeInDown animated">Portable web utilization is developing at an amazingly fast rate that presents tremendous open door. A website that is not streamlined for versatile utilization and execution stands the possibility to leave a colossal measure of chance and business on the table. Our expert responsive outlines convey remarkable results from both desktop and versatile clients.
</p>


<p class="wow fadeInDown animated">
Businesses must cater for the growing mobile market. Half of all website traffic comes from smartphones and tablets, of all shapes and sizes. Mobile-friendliness can even influence how high websites rank in organic search results.We will help you launch a fully responsive website, whether you need a fresh, unique design or retrofit for an existing site.
</p>




</div> 

 
 
</div> 


</div>








