

<div>
 <div class="header-cnt">
  <div class="container">
<h2>STRATEGIC ALLIANCES</h2>
 </div>
 </div>
<!-- <div class="brd-crm">
 <div class="container">
      <h5><a href="#home">HOME</a> / <a href="#customers">CUSTOMERS</a> / Strategic Alliances</h5>
 </div>
 </div>-->
</div>

 
<div id="banner-sec">    
<img src="images/strategic.jpg"/>
<div class="container wow fadeInDown animated">
<div class="img-cnt col-lg-5 col-md-6 col-sm-6 col-xs-6">
<h1>Strategic Alliances</h1>  
<p>Strategic alliance is an agreement between two or more parties 
to pursue a set of agreed upon objectives needed while remaining 
independent organizations. </p>
</div>
</div>    
</div> 

<div id="cta">
<div class="container wow fadeInDown animated">
<div class="row">
<div class="col-sm-12">
<h2>A strategic alliance is a relationship between two or more entities that agree to share resources to achieve a mutually beneficial objective.</h2>

</div>

</div>
</div>
</div> 
<div id="features">
<div class="container">
<div class="cnt-section">

<!--<div class="row customers-cnt "> 
<div class="col-sm-3 wow fadeInDown animated">
<img src="images/clickability-1.png"/>
</div>
<div class="col-sm-9 wow fadeInDown animated">
<p>Clickability is the leading SaaS Web Content Management platform (WCM) that
empowers marketers to build and manage their websites and web-related content 
more effectively. Clickability enables enterprise marketers and online publishers to
create, manage and publish content globally to any device;</p>

</div>
</div>-->

<div class="row customers-cnt">
<div class="col-sm-3 wow fadeInDown animated">
<img src="images/analyticsmix.png"/>
</div> 
<div class="col-sm-9 wow fadeInDown animated">
<p>Analytic Mix provides data-driven marketing analytics, accountability and optimization to
help brand marketers, advertisers and their agencies maximize their marketing return on
investment (MROI).We provide our clients—leading advertisers and agencies—with a whole
new understanding of cross-media consumption and advertising performance.  <a href="mailto:info@dewsoftware.com"  target="_blank">Contact us more details</a></p>

</div>
</div>
<!--<div class="row customers-cnt">
<div class="col-sm-3 wow fadeInDown animated">
<img src="images/aknoou.png"/>
</div>
<div class="col-sm-9 wow fadeInDown animated">
<p>At Akoonu, we know just how powerful high quality content can be. High quality content can 
connect on a deeper emotional level and inspire a new way of thinking. It can generate leads,
ngage prospects, and help close a deal. Even more, it can develop relationships, establish
trust, and build brand credibility. Yes, it can do all that! And in today’s B2B world.</p>

</div>
</div>-->


<div class="row customers-cnt">   
<div class="col-sm-3 wow fadeInDown animated">
<img src="images/apptivo-1.png"/>
</div>
<div class="col-sm-9 wow fadeInDown animated">  
<p>Apptivo is a web-based online office suite and enterprise resource planning software 
consisting of apps-based business solutions. All applications are distributed as 
Software as a Service (Saas). With 40 cloud-based business apps that are available to   
small businesses for free, Apptivo's revenue comes from offering some paid plans.<a href="mailto:info@dewsoftware.com"  target="_blank">Contact us more details</a></p>

</div>
</div>
  
</div>  

</div>
</div>   






 
